div {
    background-image:url(../img/fond_sport_acceuil.jpg);
    height: 900px;    
}

table, th, td {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    margin:auto;
  }
   
  body {
    margin-left:20px;
    background-color: black;
  }
   
  th,td {
    font-family: Verdana, Geneva, sans-serif;
    font-size : 14px;
    width:150px;
    padding: 5px;
    text-align:center;
  }
   
  th {
     background-color: grey;
     color: white;
  }
   
  td {
     background-color: white;
     color: black;
  }

.droite{
  float: right;
  border-style:groove;
  border-width: 3px;
  border-color: white;
  color: white;
}

h1{
  color: white;
  font-size : 150px;
  text-align: center;
  margin:auto;
  line-height:10cm;
}

a{
  font-size : 50px;
}

.accueil{
  color:white;
}

input,select{
  font-size: 25px;
}

form{
  text-align: center;
  white-space: nowrap;
}


  

