img {
    max-height: 30px;
    max-width: 30px;
    align-items: right;
}

div {
  background-image:url(../img/fond_sport_acceuil.jpg);
  height: 1000px;    
}

table, th, td {
    margin:auto;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-collapse: collapse;
    width: 200px; 
	  height:130px;
	  font-size:45px;
  }
   
  body {
    margin-left:20px;

  }
   
  th,td {
    font-family: Verdana, Geneva, sans-serif;
    font-size : 14px;
    width:150px;
    padding: 5px;
    text-align:center;
  }
   
  th {
     background-color: grey;
     color: white;
  }
   
  td {
     background-color: white;
     color: black;
     filter: drop-shadow(2.5px 2.5px 3px #000000);
     border-radius: 16px;
  }




h1{
  color: white;
  font-size : 150px;
  text-align: center;
  margin:auto;
  line-height:10cm;
}

.droite{
  float: right;
  border-style:groove;
  border-width: 5px;
  border-color: white;
  color: black;
  margin:auto;
}


img{
  zoom: 1.75;
}

a{
  text-decoration: none;
  color: black;
}