@charset "utf-8";
/* Template CSS */

body{
  background-image:url(../img/fond_pro.jpg);
  background-attachment: fixed;
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-collapse: collapse;  
  padding: 10px;
}

body {
  margin-left:20px;
}

h1{
  font-size: 42px;
}


th,td {
  font-family: Verdana, Geneva, sans-serif;
  font-size : 14px;
  width:608px;
  padding: 5px;
  text-align:center;
  border-color: black;
}

th {
   background-color: lightblue;
   color: black; 
   border-color: black;
   border-width: 2px;
}

td {
   background-color: white; 
   color: black;
}
.bord{
    background-color:grey;
}

img{
    max-height:100px;
    max-width: 100px;
    padding: 0 10px;
}

.image{
  max-height: 50px;
  max-width: 50px;
  filter:drop-shadow(2.5px 2.5px 3px #000000);
}

.trash{
  max-height: 35px;
  max-width: 35px;
}

.edit{
  max-height: 35px;
  max-width: 35px;
  padding-left: 1160px;
  
}

.ajout{
  float: right;
  padding: 5px;
  filter:drop-shadow(2.5px 2.5px 3px #000000);
  font-size: 50px;
}

.tableauligne{
  margin: auto;
  filter:drop-shadow(5px 5px 4px);
  display: inline-table;
}

.tableaucentre{
  margin: auto;
  filter:drop-shadow(5px 5px 4px);
  display:center;
}

textarea{
  width: 450px;
  height: 150px;
}
.boutondroite{
  float: right;
  padding: 5px;
  filter:drop-shadow(2.5px 2.5px 3px #000000);
}
.droite2{
  float: right;
  color: black;
  font-size: 1cm;
  padding: 5px;
  filter:drop-shadow(2.5px 2.5px 3px #000000);
}
.logout{
  float: right;
  max-height: 50px;
  max-width: 50px;
  filter:drop-shadow(2.5px 2.5px 3px #000000);
}

a{
  color: black;
  text-decoration: none;
}

.connect{
  color:blue;
}