@charset "utf-8";
/* Template CSS */

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
}

body {
  margin-left:20px;
}

div#content {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

th,td {
  font-family: Verdana, Geneva, sans-serif;
  font-size : 14px;
  padding: 5px;
  text-align:center;
}

th {
   background-color: grey;
   color: white; 
}

td {
   background-color: white;
   color: black;
}

td.pair {
   background-color: white;
   color: black;
}
td.impair {
   background-color: #EDEDED;/* gris clair */
   color: black;
}